.searchContainer {
  position: 'relative';
  width: 370;
  height: 55;
  flex-direction: 'row';
  justify-content: 'space-between';
  align-items: 'center';
  background-color: 'transparent';
  overflow: 'hidden';
  opacity: 0.7;
  border-radius: 35;
  padding-left: 20;
  border-color: 'black';
  border-width: 1.5;
}
.searchInputContainer {
  flex-direction: 'row';
  align-items: 'center';
  padding: 5;
  color: 'black';
  margin-left: -15;
}
.searchIcon {
  padding-left: 10;
  margin-right: 5;
  font-weight: 500;
  color: 'black';
  font-size: 18;
}
.searchInput {
  flex: 1;
  color: 'black';
  width: 20;
}
.locationContainer {
  width: 100;
  height: 35;
  flex-direction: 'row';
  justify-content: 'space-between';
  align-items: 'center';
  background-color: 'transparent';
  // overflow: 'hidden',
  padding: 0;
  opacity: 0.7;
  border-radius: 25;
  padding-left: 10;
  padding-right: 15;
  border-color: 'black';
  border-width: 1.7;
}
.locationCircle {
  width: 20;
  height: 20;
  margin-left: 5;
  justify-content: 'center';
  align-items: 'center';
  border-width: 2;
  border-color: '#D3D3D3';
  border-radius: 10;
  box-shadow: 0 0 #{$elevation} rgba(0, 0, 0, 0.1);
  // // shadow: 'black';
  // elevation: 0;
}
.locationText {
  font-weight: '900';
  color: 'black';
}
